/* styles/components/active-question.css */

.active-question-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--black-a8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1vh;

    z-index: 100;
    pointer-events: auto;
}

.active-question {
    background-color: var(--color-primary-3);
    color: var(--color-primary-11);

    border: 2px solid var(--color-primary-7);
    border-radius: 2vw;

    width: 44vw;
    max-height: 70vh;

    padding: 3vh 2vw 5vh 2vw;

    display: grid;
    grid-template-rows: 5vh auto auto 5vh;
    grid-template-columns: 1fr auto 1fr;
    gap: 1vh;
    place-items: center;
}

.active-question img,
.active-question .audio-player {
    grid-row: 2;
    grid-column: 1 / -1;

    max-width: 100%;
    max-height: 40vh;
}

.active-question-category {
    grid-row: 1;
    grid-column: 2;

    text-align: center;
    font-size: 1.2rem;
}

.active-question-value {
    grid-row: 1;
    grid-column: 3;

    justify-self: end;
    font-size: 1.2rem;
    opacity: 0.8;
}

.active-question-text {
    grid-row: 3;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
}

.active-question.has-media .active-question-text {
    max-height: 10vh;
    font-size: 1rem;
}

.active-question-answer {
    grid-row: 4;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 1rem;
    line-height: 1;
    font-style: italic;
}

/* --- Question Controls ------------------------------------- */

.active-question-controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 12px;
}

.active-question-controls .action-button {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 1;

    width: 7vw;
    height: 4vh;
}

.active-question-controls .correct {
    grid-column: 1;
}

.active-question-controls .pass,
.active-question-controls .continue {
    grid-column: 2;
}

.active-question-controls .wrong {
    grid-column: 3;
}
