.audio-player {
    display: grid;
    grid-template-columns: 6vmin auto;
    align-items: center;
    column-gap: 1vw;
    padding: 1.3vmin 1.3vw 1.3vmin 1.3vmin;

    border: 2px solid var(--color-primary-7);
    border-radius: 10vw;

    transition: filter 0.2s;
    color: var(--color-primary-11);
    user-select: none;

    width: 25vw;
}

.audio-player .action-button {
    --border-radius: 50%;
    --border-size: 2px;

    width: 6vmin;
    height: 6vmin;
}

.audio-player .action-button svg {
    width: 100%;
    height: 3vh;
}

.time {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
}

.time span {
    font-size: 0.8rem;
}

.slider {
    flex: 1;
    height: 1vh;
    background: var(--color-primary-5);
    border-radius: 10vw;
    overflow: hidden;
}

.progress {
    width: calc(100 * var(--progress));
    height: 100%;
    background: var(--color-primary-8);
}
