/* styles/components/board.css */

/* Board */

.board-container {
    grid-column: 2;
    position: relative;
    overflow: hidden;
    border-radius: 1.5vw;
    border: 1px solid var(--color-primary-6);
    background-color: var(--color-primary-2);
    width: 54vw;
    margin: 0 auto;
    padding: 2vh 2vw 4vh 2vw;
}

.board {
    display: grid;
    row-gap: 1.5vh;
    position: relative;
    margin: 0 auto;
}

.board-container.has-overlay .board {
    pointer-events: none;
}

/* Rows */

.board-header,
.board-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5vw, 1fr));
    column-gap: 1vw;
}

.board-header {
    color: var(--color-primary-11);
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    height: 3vh;
}

/* Question cells */

.question-cell {
    --border-size: 2px;
    --border-radius: 0.7vw;

    display: grid;
    place-items: center; 

    position: relative;
    font-size: 1.3rem;
    height: 13vh;

    background-color: var(--color-primary-3);
    color: var(--color-primary-11);

    border: var(--border-size) solid var(--color-primary-7);
    border-radius: var(--border-radius);

    transition:
        border-color 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease,
        color 0.2s ease;
}

/* Hover: only if selectable */
button.question-cell:not(.used):not(.empty):not(:disabled):hover,
button.question-cell:not(.used):not(.empty):not(:disabled):focus-visible {
    cursor: pointer;
    outline: none;
    border-color: var(--color-primary-8);
    background-color: var(--color-primary-4);
}

/* Used & empty questions */
.question-cell.used, .question-cell.empty {
    cursor: default;
}

.question-cell.used::after, .question-cell.empty::after {
    content: "";
    position: absolute;

    inset: calc(-1 * var(--border-size));
    border-radius: var(--border-radius);
    background-color: var(--black-a1);

    backdrop-filter: grayscale(0.7);
    pointer-events: none;
}

/* Disabled (fallback / accessibility) */
.question-cell:disabled {
    cursor: default;
}
