/* styles/components/board-draft.css */

.edit-board {
    color: var(--color-primary-11);
}

.board-draft-container {
    position: relative;
    overflow: hidden;
    border-radius: 1.5vw;
    border: 1px solid var(--color-primary-6);
    background-color: var(--color-primary-2);
    width: 90vw;
    height: 75vh;
    margin: 1vh 2vw;
    padding: 2vh 2vw;
}

.board-draft {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 2vw;
}

.board-draft-container.has-overlay .board-draft {
    pointer-events: none;
}

.board-draft-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--black-a8);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1vh;

    z-index: 100;
    pointer-events: auto;
}

.media-draft-preview {
    background-color: var(--color-primary-3);
    color: var(--color-primary-11);

    border: 2px solid var(--color-primary-7);
    border-radius: 2vw;

    position: relative;

    width: 44vw;
    max-height: 70vh;

    padding: 5vh 2vw 3vh 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 2vh;
}

.media-draft-preview img {
    max-width: 100%;
    max-height: 40vh;
}

.media-draft-preview-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    column-gap: 1vw;
}

.media-draft-preview .action-button {
    --border-radius: 1vw;
    --border-size: 2px;

    width: 5vw;
    height: 5vh;
}

.media-draft-preview .action-button svg {
    width: auto;
    height: 60%;
}

.media-draft-preview .modal-close-button {
    position: absolute;
    top: 2vh;
    right: 1vw;

    background: none;
    border: none;
    color: var(--color-warning-9);
}

.board-draft .error {
    border-color: var(--color-warning-7);
}

.board-draft .error:focus-visible {
    border-color: var(--color-warning-8);
}

.board-draft-header,
.board-draft-row,
.board-draft-footer {
    grid-column: 1;
    display: grid;
    grid-template-columns: 5vw repeat(auto-fit, minmax(0, 1fr));
    place-items: center;
    margin: 0.5vh 0;
    gap: 0.5vh 1vw;
}

.board-draft-header {
    grid-row: 1;
}

.board-draft-grid {
    grid-row: 2;
}

.board-draft-footer {
    grid-row: 3;
}

.board-draft-category-io {
    grid-row: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.board-draft-category-io > .category-draft-import-button,
.board-draft-category-io > .category-draft-export-button {
    --border-size: 2px;
    --border-radius: 0.4vw;

    font-size: 0.9rem;

    width: 50%;
    height: 3.5vh;
}

.board-draft-category-io > .category-draft-import-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.board-draft-category-io > .category-draft-export-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    border-right: none;
}

input.row-value {
    --border-size: 2px;
    --padding-column: 1vh;
    --padding-row: 0.7vw;

    grid-column: 1;
    grid-row: 1;

    width: 100%;
    height: 100%;

    text-align: center;
    font-size: 0.9rem;

    color: var(--color-primary-11);
    background-color: var(--color-primary-2);

    border: var(--border-size) solid var(--color-primary-7);
    border-radius: 0.4vw;

    padding: var(--padding-column) var(--padding-row);
}

input.row-value::-webkit-inner-spin-button,
input.row-value::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.row-value {
    -moz-appearance: textfield;
    appearance: textfield;
}

.board-draft textarea:focus-visible,
.board-draft input:focus-visible {
    outline: none;
    border-color: var(--color-primary-8);
}

.board-draft-question-cell {
    grid-row: 1;

    display: grid;
    grid-template-columns: auto 2vw;
    grid-template-rows: 6vh 5vh;

    width: 100%;
    row-gap: 0.5vh;
    column-gap: 0;
}

.board-draft-category-add {
    --border-size: 2px;
    --border-radius: 0.4vw;

    grid-column: 2;
    grid-row: 1 / -1;

    font-size: 1rem;
    margin: 0.5vh 0 5vh 0.3vw;
}

.board-draft-category-container {
    grid-row: 1;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

.board-draft-category {
    --border-size: 3px;
    --border-radius: 0.4vw;
    --padding-column: 1vh;
    --padding-row: 1vw;

    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.3rem;

    margin: 0;
    padding: var(--padding-column) var(--padding-row);

    background-color: var(--color-primary-3);
    color: var(--color-primary-12);

    border: var(--border-size) solid var(--color-primary-7);
    border-radius: var(--border-radius);
    outline: none;

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;

    width: 100%;

    height: 5.5vh;
}

.board-draft-category-container > .board-draft-category-delete {
    --border-size: 2px;
    --border-radius: 0.4vw;

    width: 3vw;
    height: 5.5vh;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.board-draft-category-delete svg {
    width: 100%;
    height: 3vh;
}

.board-draft-point-label {
    grid-row: 1;
    font-size: 1.2rem;
}

.board-draft-question-text,
.board-draft-question-answer {
    --border-radius: 0.4vw;
    --border-size: 2px;
    --padding-column: 1vh;
    --padding-row: 1vw;

    grid-column: 1;

    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 0.8rem;

    color: var(--color-primary-11);
    background-color: var(--color-primary-3);

    border: var(--border-size) solid var(--color-primary-6);
    border-radius: var(--border-radius);

    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;

    outline: none;

    margin: 0;
    padding: var(--padding-column) var(--padding-row);

    width: 100%;

    resize: none;
}

.board-draft-question-text {
    grid-row: 1;
    height: 6vh;
}

.board-draft-question-answer {
    grid-row: 2;
    height: 5vh;
    background-color: var(--color-primary-2);
}

.board-draft-question-cell > .media-import-button {
    --border-radius: 0.4vw;
    --border-size: 2px;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    grid-column: 2;

    display: inline-flex;
    align-items: center;
}

.media-import-button svg {
    width: 100%;
}

.edit-board-actions {
    position: relative;
    overflow: hidden;
    width: 90vw;
    margin: 2vh 4vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 1vw;
}

.edit-board-actions .action-button {
    --border-size: 2px;
    --border-radius: 1vw;

    font-size: 1rem;

    padding: 0 1vw;

    max-width: 15vw;
    height: 5vh;
}
