/* styles/components/board-draft.css */

.edit-board {
    color: var(--color-primary-11);
}

.board-draft {
    position: relative;
    overflow: hidden;
    border-radius: 1.5vw;
    border: 1px solid var(--color-primary-6);
    background-color: var(--color-primary-2);
    width: 90vw;
    height: 75vh;
    margin: 1vh 2vw;
    padding: 2vh 2vw;

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 2vw;
}

.board-draft-header,
.board-draft-row {
    grid-column: 1;
    display: grid;
    grid-template-columns: 5vw repeat(auto-fit, minmax(0, 1fr));
    place-items: center;
    margin: 0.5vh 0;
    gap: 0.5vh 1vw;
}

.board-draft-header {
    grid-row: 1;
}

.board-draft-grid {
    grid-row: 2;
}

input[type="number"].row-value {
    --border-size: 2px;
    --padding-column: 1vh;
    --padding-row: 0.7vw;

    grid-column: 1;
    grid-row: 1;

    width: calc(100% - 2*var(--border-size) - 2*var(--padding-row));
    height: calc(100% - 2*var(--border-size) - 2*var(--padding-column));

    text-align: center;
    font-size: 0.9rem;

    color: var(--color-primary-11);
    background-color: var(--color-primary-2);

    border: var(--border-size) solid var(--color-primary-7);
    border-radius: 0.4vw;

    padding: var(--padding-column) var(--padding-row);
}

input[type="number"].row-value::-webkit-inner-spin-button,
input[type="number"].row-value::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].row-value {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"].row-value:focus {
    outline: none;
    border-color: var(--color-primary-8);
    box-shadow: 0 0 0 1px var(--color-primary-7);
}

.board-draft-question-cell {
    grid-row: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    row-gap: 0.5vh;
}

.board-draft-category-add {
    --border-size: 2px;
    --radius: 0.4vw;

    grid-column: 2;
    grid-row: 1 / -1;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-accent-11);
    background-color: var(--color-accent-3);
    border: var(--border-size) solid var(--color-accent-6);
    border-radius: var(--radius);

    font-size: 1rem;
    margin: 1.5vh 0 2vh 0.3vw;

    cursor: pointer;
    transition:
        background-color 0.15s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.board-draft-category-container {
    grid-row: 1;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5vw;


}

.board-draft-category {
    --border-size: 3px;
    --radius: 0.4vw;
    --padding-column: 1vh;
    --padding-row: 1vw;
    
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.3rem;
    
    margin: 0;
    padding: var(--padding-column) var(--padding-row);
    
    background-color: var(--color-primary-3);
    color: var(--color-primary-12);
    
    border: var(--border-size) solid var(--color-primary-7);
    border-radius: var(--radius);
    outline: none;
    
    width: calc(100% - 2*var(--border-size) - 2*var(--padding-row));
    
    height: 3.5vh;
}

.board-draft-category-delete {
    --border-size: 2px;
    --radius: 0.4vw;
    --padding-column: 1vh;
    --padding-row: 1vw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: var(--padding-column) var(--padding-row);
    
    background-color: var(--color-warning-3);
    color: var(--color-warning-11);
    
    border: var(--border-size) solid var(--color-warning-7);
    border-radius: var(--radius);

    width: 4vw;
    height: calc(5.5vh + 2*var(--border-size));
    
    cursor: pointer;
    transition:
        background-color 0.15s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.board-draft-category-delete:not(:disabled):hover,
.board-draft-category-delete:not(:disabled):focus-visible {
    outline: none;
    background-color: var(--color-warning-4);
    border-color: var(--color-warning-8);
    transform: translateY(-1px);
    box-shadow: 0 4px 10px var(--black-a4);
}

.board-draft-point-label {
    grid-row: 1;
    font-size: 1.2rem;
}

.draft-import-input {
    display: none;
}

.board-draft-question-text,
.board-draft-question-answer{
    --radius: 0.4vw;
    --border-size: 2px;
    --padding-column: 1vh;
    --padding-row: 1vw;

    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 0.8rem;

    color: var(--color-primary-11);
    background-color: var(--color-primary-3);
    
    border: var(--border-size) solid var(--color-primary-6);
    border-radius: var(--radius);
    outline: none;

    margin: 0;
    padding: var(--padding-column) var(--padding-row);

    width: calc(100% - 2*var(--border-size) - 2*var(--padding-row));

    resize: none;
}

.board-draft-question-text {
    height: 4vh;
}

.board-draft-question-answer {
    height: 3vh;
    background-color: var(--color-primary-2);
}

.edit-board-actions {
    position: relative;
    overflow: hidden;
    width: 90vw;
    margin: 2vh 4vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 1vw;
}

.edit-board-actions button {
    --border-size: 2px;
    --radius: 1vw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-accent-11);
    background-color: var(--color-accent-3);
    border: var(--border-size) solid var(--color-accent-6);
    border-radius: var(--radius);

    font-size: 1rem;

    width: 10vw;
    height: 5vh;

    cursor: pointer;
    transition:
        background-color 0.15s ease,
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.edit-board-actions button:not(:disabled):hover,
.edit-board-actions button:not(:disabled):focus-visible,
.board-draft-category-add:not(:disabled):hover,
.board-draft-category-add:not(:disabled):focus-visible {
    cursor: pointer;
    outline: none;
    background-color: var(--color-accent-4);
    border-color: var(--color-accent-8);
    transform: translateY(-1px);
    box-shadow: 0 4px 10px var(--black-a4);
}

.edit-board-actions button:disabled,
.board-draft-category-delete:disabled,
.board-draft-category-add:disabled {
    cursor: default;
    box-shadow: none;
}

.edit-board-actions button:disabled::after,
.board-draft-category-delete:disabled::after,
.board-draft-category-add:disabled::after {
    content: "";
    position: absolute;

    inset: calc(-1 * var(--border-size));
    border-radius: var(--radius);
    background-color: var(--black-a2);

    backdrop-filter: grayscale(1);
    pointer-events: none;
}
