/* styles/components/game-options.css */

.game-options {
    grid-column: 3;
    position: relative;
    overflow: hidden;
    border-radius: 1.5vw;
    border: 1px solid var(--color-primary-6);
    background-color: var(--color-primary-2);
    width: 15vw;
    margin: 0 auto;
    padding: 2vh 1.5vw 4vh 1.5vw;
}

.game-rules-title {
    color: var(--color-primary-11);
    text-align: left;
    font-size: 2rem;

    padding: 1vh 0;
}

.rule-tabs {
    display: flex;
    align-items: flex-end;
    margin: 0 0.4vw;
}

.rule-tabs button {
    color: var(--color-primary-11);
    background-color: var(--color-primary-3);

    font-size: 0.8rem;

    border: 2px solid var(--color-primary-7);
    border-bottom: none;

    border-radius: 0.7vw 0.7vw 0 0;

    padding: 0.6vh 0.8vw 0.8vh 0.8vw;
    margin: 0 0.1vw;

    position: relative;
    top: 2px;

    cursor: pointer;
}

.rule-tabs button.active {
    background-color: var(--color-primary-2);
    border-color: var(--color-primary-8);
    border-bottom: 2px solid var(--color-primary-2);
    z-index: 2;
}

.rule-details {
    color: var(--color-primary-11);
    background-color: var(--color-primary-2);

    border: 2px solid var(--color-primary-8);
    border-radius: 0.5vw;

    padding: 1.2vh 1.2vw;

    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    gap: 0.8vh;
}

.multiplier-row {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    font-size: 0.9rem;

    padding: 0.6vh 0.8vw;

    background-color: var(--color-primary-3);
    border: 1px solid var(--color-primary-6);
    border-radius: 0.6vw;

    height: 4vh;
}

input[type="number"].multiplier-value {
    width: 2vw;

    text-align: right;
    font-size: 0.9rem;

    color: var(--color-primary-11);
    background-color: var(--color-primary-2);

    border: 1px solid var(--color-primary-7);
    border-radius: 0.4vw;

    padding: 0.3vh 0.4vw;
}

input[type="number"].multiplier-value::-webkit-inner-spin-button,
input[type="number"].multiplier-value::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"].multiplier-value {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]:focus {
    outline: none;
    border-color: var(--color-primary-8);
    box-shadow: 0 0 0 1px var(--color-primary-7);
}
