/* styles/components/player-list.css */

.player-list {
    grid-column: 1;
    position: relative;
    overflow: hidden;
    border-radius: 1.5vw;
    border: 1px solid var(--color-primary-6);
    background-color: var(--color-primary-2);
    width: 14vw;
    margin: 0 auto;
    padding: 2vh 2vw 4vh 2vw;
}

.player-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    position: relative;
}

.player-title {
    color: var(--color-primary-11);
    text-align: left;
    font-size: 2rem;

    padding: 1vh 0;
}

.player-counter {
    color: var(--color-primary-11);
    text-align: right;
    font-size: 1.2rem;

    padding: 1vh 0 0 0;
}

.player-cell {
    display: grid;
    grid-template-columns: 9vw 5vw;
    grid-template-rows: 5vh 5vh;

    position: relative;

    margin: 2vh 0;
}

.player-name {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 1;
    grid-column: 1 / -1;

    color: var(--color-primary-11);

    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.2rem;

    background-color: var(--color-primary-3);
    
    border: var(--border-size) solid var(--color-primary-6);
    border-radius: var(--border-radius);
    outline: none;
    
    z-index: 2;
    margin-bottom: -0.8vh;
    padding: 0 1vw;
    width: 8.5vw;
}

.player-cell.active:not(.locked) .player-name {
    border-color: var(--color-accent-8);

    box-shadow:
        0 0 12px 3px var(--color-accent-6),
        0 0 20px 7px var(--color-accent-4);
}

.player-score {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 2;
    grid-column: 2;

    color: var(--color-primary-11);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    
    background-color: var(--color-primary-3);
    
    border: var(--border-size) solid var(--color-primary-6);
    border-radius: var(--border-radius);
    
    z-index: 1;
    margin-top: -0.8vh;
    margin-bottom: 0.5vh;
    padding: 0 1vw;
}

/* Delete player */

.player-delete {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 2;
    grid-column: 2;

    z-index: 1;
    margin-top: -0.8vh;
    margin-bottom: 0.5vh;
    padding: 0 1vw;
}

/* Add player */

.player-add {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 2;
    grid-column: 2;

    z-index: 1;
    margin-top: -0.8vh;
    margin-bottom: 0.5vh;
    padding: 0 1vw;
}

/* Buzzer */

.buzz-button {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 2;
    grid-column: 1;

    margin-top: 1.2vh;
    margin-left: 1vw;
    padding: 0;
    width: 4vw;
}

.player-cell.locked ::after {
    content: "";
    position: absolute;

    inset: calc(-1 * var(--border-size));
    border-radius: var(--border-radius);
    background-color: var(--black-a2);

    backdrop-filter: grayscale(1);
    pointer-events: none;
}
