/* styles/components/tob-bar.css */

.top-bar {
    grid-row: 1;
    grid-column: 1;

    padding: 1vh 1vw;
    width: 98vw;
    margin: 0 auto;
    position: relative;

    display: grid;
    place-items: center;
    grid-template-columns: 10vw 80vw 4vw 4vw;
    gap: 0vw;
}

.top-bar-role {
    grid-row: 1;
    grid-column: 2;

    color: var(--color-primary-11);
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;

    display: grid;
    place-items: center;
}

.top-bar-change-role {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 1;
    grid-column: 1;

    width: 7vw;
    height: 5vh;
}

.top-bar-theme-toggle {
    grid-row: 1;
    grid-column: 3;

    background: none;
    border: none;
    color: var(--color-primary-11);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.top-bar-reset {
    grid-row: 1;
    grid-column: 4;

    background: none;
    border: none;
    color: var(--color-primary-11);
    cursor: pointer;
    display: flex;
    align-items: center;
}
