@import "./components/board.css";
@import "./components/board-draft.css";
@import "./components/player-list.css";
@import "./components/active-question.css";
@import "./components/top-bar.css";
@import "./components/game-options.css";
@import "./components/info-icon.css";
@import "./components/scoreboard.css";
@import "./components/action-button.css";
@import "./components/buzzer-config.css";
@import "./components/landing.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

footer {
    background-color: var(--color-primary-1);
    height: 5vh;
    border-top: 1px solid var(--color-primary-6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0.5vh 1vw;
}

footer a {
    color: var(--color-primary-11);
    text-decoration: none;
}

#app {
    background-color: var(--color-primary-1);
    width: 100vw;
    height: 95vh;
    display: grid;
    grid-template-rows: 7vh 88vh;
    grid-template-columns: 100vw;
}

/* --- Layout -------------------------------------------------- */

.app-content-root {
    grid-row: 2;
    grid-column: 1;

    padding: 0 1vw;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.app-overlay-root {
    grid-row: 2;
    grid-column: 1;

    padding: 0 1vw;
    width: 100vw;
    z-index: 2;

    backdrop-filter: grayscale(1);

    display: none;
}

.app-overlay-root.active {
    display: flex;
}

.role-selection {
    margin: auto;

    background-color: var(--color-primary-3);
    border: 2px solid var(--color-primary-7);
    border-radius: 1vw;

    width: 50vw;
    height: 30vh;

    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 1vw;
}

.role-selection-title {
    grid-column: 2;
    color: var(--color-primary-11);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.role-selection .action-button {
    --border-size: 2px;
    --border-radius: 1vw;

    grid-row: 2;

    width: 7vw;
    height: 6vh;
}

.game-running,
.pre-game-setup {
    display: grid;
    grid-template-columns: 18vw 58vw 18vw;
    gap: 2vw;
}
