/* styles/colors.css */

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/lime-dark.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/tomato-dark.css";
@import "@radix-ui/colors/grass-dark.css";
@import "@radix-ui/colors/amber-dark.css";
@import "@radix-ui/colors/indigo-dark.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/black-alpha.css";

body,
.theme-mystery {
    --color-primary-1: var(--purple-1);
    --color-primary-2: var(--purple-2);
    --color-primary-3: var(--purple-3);
    --color-primary-4: var(--purple-4);
    --color-primary-5: var(--purple-5);
    --color-primary-6: var(--purple-6);
    --color-primary-7: var(--purple-7);
    --color-primary-8: var(--purple-8);
    --color-primary-9: var(--purple-9);
    --color-primary-10: var(--purple-10);
    --color-primary-11: var(--purple-11);
    --color-primary-12: var(--purple-12);

    --color-accent-1: var(--teal-1);
    --color-accent-2: var(--teal-2);
    --color-accent-3: var(--teal-3);
    --color-accent-4: var(--teal-4);
    --color-accent-5: var(--teal-5);
    --color-accent-6: var(--teal-6);
    --color-accent-7: var(--teal-7);
    --color-accent-8: var(--teal-8);
    --color-accent-9: var(--teal-9);
    --color-accent-10: var(--teal-10);
    --color-accent-11: var(--teal-11);
    --color-accent-12: var(--teal-12);

    --color-warning-1: var(--red-1);
    --color-warning-2: var(--red-2);
    --color-warning-3: var(--red-3);
    --color-warning-4: var(--red-4);
    --color-warning-5: var(--red-5);
    --color-warning-6: var(--red-6);
    --color-warning-7: var(--red-7);
    --color-warning-8: var(--red-8);
    --color-warning-9: var(--red-9);
    --color-warning-10: var(--red-10);
    --color-warning-11: var(--red-11);
    --color-warning-12: var(--red-12);

    --color-gold-background: var(--yellow-5);
    --color-gold-border: var(--yellow-6);
    --color-gold-text: var(--yellow-11);

    --color-silver-background: var(--mauve-5);
    --color-silver-border: var(--mauve-6);
    --color-silver-text: var(--mauve-11);

    --color-bronze-background: var(--bronze-5);
    --color-bronze-border: var(--bronze-6);
    --color-bronze-text: var(--bronze-11);
}

.theme-swamp {
    --color-primary-1: var(--lime-1);
    --color-primary-2: var(--lime-2);
    --color-primary-3: var(--lime-3);
    --color-primary-4: var(--lime-4);
    --color-primary-5: var(--lime-5);
    --color-primary-6: var(--lime-6);
    --color-primary-7: var(--lime-7);
    --color-primary-8: var(--lime-8);
    --color-primary-9: var(--lime-9);
    --color-primary-10: var(--lime-10);
    --color-primary-11: var(--lime-11);
    --color-primary-12: var(--lime-12);

    --color-accent-1: var(--orange-1);
    --color-accent-2: var(--orange-2);
    --color-accent-3: var(--orange-3);
    --color-accent-4: var(--orange-4);
    --color-accent-5: var(--orange-5);
    --color-accent-6: var(--orange-6);
    --color-accent-7: var(--orange-7);
    --color-accent-8: var(--orange-8);
    --color-accent-9: var(--orange-9);
    --color-accent-10: var(--orange-10);
    --color-accent-11: var(--orange-11);
    --color-accent-12: var(--orange-12);

    --color-warning-1: var(--tomato-1);
    --color-warning-2: var(--tomato-2);
    --color-warning-3: var(--tomato-3);
    --color-warning-4: var(--tomato-4);
    --color-warning-5: var(--tomato-5);
    --color-warning-6: var(--tomato-6);
    --color-warning-7: var(--tomato-7);
    --color-warning-8: var(--tomato-8);
    --color-warning-9: var(--tomato-9);
    --color-warning-10: var(--tomato-10);
    --color-warning-11: var(--tomato-11);
    --color-warning-12: var(--tomato-12);

    --color-gold-background: var(--yellow-5);
    --color-gold-border: var(--yellow-6);
    --color-gold-text: var(--yellow-11);

    --color-silver-background: var(--mauve-5);
    --color-silver-border: var(--mauve-6);
    --color-silver-text: var(--mauve-11);

    --color-bronze-background: var(--bronze-5);
    --color-bronze-border: var(--bronze-6);
    --color-bronze-text: var(--bronze-11);
}

.theme-tomato {
    --color-primary-1: var(--tomato-1);
    --color-primary-2: var(--tomato-2);
    --color-primary-3: var(--tomato-3);
    --color-primary-4: var(--tomato-4);
    --color-primary-5: var(--tomato-5);
    --color-primary-6: var(--tomato-6);
    --color-primary-7: var(--tomato-7);
    --color-primary-8: var(--tomato-8);
    --color-primary-9: var(--tomato-9);
    --color-primary-10: var(--tomato-10);
    --color-primary-11: var(--tomato-11);
    --color-primary-12: var(--tomato-12);

    --color-accent-1: var(--grass-1);
    --color-accent-2: var(--grass-2);
    --color-accent-3: var(--grass-3);
    --color-accent-4: var(--grass-4);
    --color-accent-5: var(--grass-5);
    --color-accent-6: var(--grass-6);
    --color-accent-7: var(--grass-7);
    --color-accent-8: var(--grass-8);
    --color-accent-9: var(--grass-9);
    --color-accent-10: var(--grass-10);
    --color-accent-11: var(--grass-11);
    --color-accent-12: var(--grass-12);

    --color-warning-1: var(--amber-1);
    --color-warning-2: var(--amber-2);
    --color-warning-3: var(--amber-3);
    --color-warning-4: var(--amber-4);
    --color-warning-5: var(--amber-5);
    --color-warning-6: var(--amber-6);
    --color-warning-7: var(--amber-7);
    --color-warning-8: var(--amber-8);
    --color-warning-9: var(--amber-9);
    --color-warning-10: var(--amber-10);
    --color-warning-11: var(--amber-11);
    --color-warning-12: var(--amber-12);

    --color-gold-background: var(--yellow-5);
    --color-gold-border: var(--yellow-6);
    --color-gold-text: var(--yellow-11);

    --color-silver-background: var(--mauve-5);
    --color-silver-border: var(--mauve-6);
    --color-silver-text: var(--mauve-11);

    --color-bronze-background: var(--bronze-5);
    --color-bronze-border: var(--bronze-6);
    --color-bronze-text: var(--bronze-11);
}

.theme-ocean {
    --color-primary-1: var(--indigo-1);
    --color-primary-2: var(--indigo-2);
    --color-primary-3: var(--indigo-3);
    --color-primary-4: var(--indigo-4);
    --color-primary-5: var(--indigo-5);
    --color-primary-6: var(--indigo-6);
    --color-primary-7: var(--indigo-7);
    --color-primary-8: var(--indigo-8);
    --color-primary-9: var(--indigo-9);
    --color-primary-10: var(--indigo-10);
    --color-primary-11: var(--indigo-11);
    --color-primary-12: var(--indigo-12);

    --color-accent-1: var(--pink-1);
    --color-accent-2: var(--pink-2);
    --color-accent-3: var(--pink-3);
    --color-accent-4: var(--pink-4);
    --color-accent-5: var(--pink-5);
    --color-accent-6: var(--pink-6);
    --color-accent-7: var(--pink-7);
    --color-accent-8: var(--pink-8);
    --color-accent-9: var(--pink-9);
    --color-accent-10: var(--pink-10);
    --color-accent-11: var(--pink-11);
    --color-accent-12: var(--pink-12);

    --color-warning-1: var(--yellow-1);
    --color-warning-2: var(--yellow-2);
    --color-warning-3: var(--yellow-3);
    --color-warning-4: var(--yellow-4);
    --color-warning-5: var(--yellow-5);
    --color-warning-6: var(--yellow-6);
    --color-warning-7: var(--yellow-7);
    --color-warning-8: var(--yellow-8);
    --color-warning-9: var(--yellow-9);
    --color-warning-10: var(--yellow-10);
    --color-warning-11: var(--yellow-11);
    --color-warning-12: var(--yellow-12);

    --color-gold-background: var(--yellow-5);
    --color-gold-border: var(--yellow-6);
    --color-gold-text: var(--yellow-11);

    --color-silver-background: var(--mauve-5);
    --color-silver-border: var(--mauve-6);
    --color-silver-text: var(--mauve-11);

    --color-bronze-background: var(--bronze-5);
    --color-bronze-border: var(--bronze-6);
    --color-bronze-text: var(--bronze-11);
}
