@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/black-alpha.css";

#app {
    --color-primary-1: var(--purple-1);
    --color-primary-2: var(--purple-2);
    --color-primary-3: var(--purple-3);
    --color-primary-4: var(--purple-4);
    --color-primary-5: var(--purple-5);
    --color-primary-6: var(--purple-6);
    --color-primary-7: var(--purple-7);
    --color-primary-8: var(--purple-8);
    --color-primary-9: var(--purple-9);
    --color-primary-10: var(--purple-10);
    --color-primary-11: var(--purple-11);
    --color-primary-12: var(--purple-12);
}
