/* styles/colors.css */

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/teal-dark.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/mauve-dark.css";
@import "@radix-ui/colors/bronze-dark.css";
@import "@radix-ui/colors/black-alpha.css";

#app {
    --color-primary-1: var(--purple-1);
    --color-primary-2: var(--purple-2);
    --color-primary-3: var(--purple-3);
    --color-primary-4: var(--purple-4);
    --color-primary-5: var(--purple-5);
    --color-primary-6: var(--purple-6);
    --color-primary-7: var(--purple-7);
    --color-primary-8: var(--purple-8);
    --color-primary-9: var(--purple-9);
    --color-primary-10: var(--purple-10);
    --color-primary-11: var(--purple-11);
    --color-primary-12: var(--purple-12);

    --color-accent-1: var(--teal-1);
    --color-accent-2: var(--teal-2);
    --color-accent-3: var(--teal-3);
    --color-accent-4: var(--teal-4);
    --color-accent-5: var(--teal-5);
    --color-accent-6: var(--teal-6);
    --color-accent-7: var(--teal-7);
    --color-accent-8: var(--teal-8);
    --color-accent-9: var(--teal-9);
    --color-accent-10: var(--teal-10);
    --color-accent-11: var(--teal-11);
    --color-accent-12: var(--teal-12);

    --color-warning-1: var(--red-1);
    --color-warning-2: var(--red-2);
    --color-warning-3: var(--red-3);
    --color-warning-4: var(--red-4);
    --color-warning-5: var(--red-5);
    --color-warning-6: var(--red-6);
    --color-warning-7: var(--red-7);
    --color-warning-8: var(--red-8);
    --color-warning-9: var(--red-9);
    --color-warning-10: var(--red-10);
    --color-warning-11: var(--red-11);
    --color-warning-12: var(--red-12);

    --color-gold-background: var(--yellow-5);
    --color-gold-border: var(--yellow-6);
    --color-gold-text: var(--yellow-11);

    --color-silver-background: var(--mauve-5);
    --color-silver-border: var(--mauve-6);
    --color-silver-text: var(--mauve-11);

    --color-bronze-background: var(--bronze-5);
    --color-bronze-border: var(--bronze-6);
    --color-bronze-text: var(--bronze-11);
}
